# {{ ansible_managed }}

{% if (nut_ups_extra is defined) and nut_ups_extra %}
{{ nut_ups_extra }}
{% endif %}

{% for ups in nut_ups %}
[{{ ups.name }}]
    driver = {{ ups.driver }}
    port   = {{ ups.device }}
    desc   = "{{ ups.description }}"
    {{ ups.extra | default('') | indent(4) }}
{% endfor %}
